.interactivid-progressbar
{
	background-color: #ffffff;
	border: solid 1px #d0d0d0;
	/* box-shadow: 3px 3px 3px #bbbbbb; */
	color: #57585a;
	font-size: 9pt;
	height: 16px;
	text-align: right;
	width: 80%;
}

.interactivid-progressbar-bars
{
	background-color: #e0e0e0;
	cursor: pointer;
	height: 14px;
	padding: 2px 0px 2px 0px;
}

	.interactivid-progressbar-bars.red
	{
		background-color: #b00000;
	}

	.interactivid-progressbar-bars.orange
	{
		background-color: #f09000;
	}

	.interactivid-progressbar-bars.green
	{
		background-color: #00b000;
	}

.interactivid-progressbar-hide
{
	position: relative;
	top: -3px;
	right: 0px;
	background: #e0e0e0;
	float: right;
	height: 15px;
	z-index: 10;
}

span.interactivid-progressbar-percent
{
	position: relative;
	top: 0px;
	right: 5px;
	color: #202020;
	display: block;
	float: right;
	text-align: right;
	z-index: 15;
}